@*@model IEnumerable<CarApp.Models.Asset>*@
@{
    //var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContent");
    //Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Scripts{
<script type="text/javascript">

    $(function () {
        @*$.ajax({
            url: '@Url.Action("Assets", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#gridContent').html(data);
            }
        });*@
        

        var isAdding = false;
        var assetRow = '<tr class="webgrid-row-style">'
            + '<td class="col2Width" > <span class="display-mode"> <label id="lblBarcode"></label>  </span> <input type="text" id="Barcode" class="edit-mode"/> </td >'
            + '<td class="col2Width">  <span class="display-mode"> <label id="lblDeviceName"></label> </span> <input type="text" id="DeviceName" value="" class="edit-mode" /></td>'
            + '<td class="col2Width"> <span class="display-mode"> <label id="lblManufacturer"></label> </span>  <input type="text" id="Manufacturer" value="" class="edit-mode" /> </td>'
            + '<td class="col3Width">'
            + '<button class="edit-user display-mode">Edit</button>'
            + '<button class="save-user edit-mode">Save</button>'
            + '<button class="cancel-user edit-mode">Cancel</button>'
            + '</td>'
            + '</tr >';

        $('.edit-mode').hide();
        $(document).on('click', '.edit-user, .cancel-user', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
            if (isAdding) {
                $(this).closest('tr').remove();
                isAdding = false;
            }
        });
        $("#addAsset").on("click", function () {
            //var grid = document.getElementById("gridContent").children[0];
            //var node = grid.rows[0].parentNode;
            //var newRow = grid.rows[grid.rows.length - 1].cloneNode(true)
            //grid.appendChild(assetRow)
            //$('.webgrid tbody:first').append(newRow);
            $(assetRow).insertBefore("table > tbody > tr:first")
            //var tr = $(this).parents('tr:first');
            $('table > tbody > tr:first').find('.edit-mode').show();
            $('table > tbody > tr:first').find('.display-mode').hide();
            isAdding = true;
            return false;
            cell.appendChild(element)
        });

        $(document).on('click', '.save-user', function () {
            var tr = $(this).parents('tr:first');
            var deviceName = tr.find("#DeviceName").val();
            var manufacturer = tr.find("#Manufacturer").val();
            var barcode = tr.find("#Barcode").val();
            tr.find("#lblBarcode").text(barcode);
            tr.find("#lblDeviceName").text(deviceName);
            tr.find("#lblManufacturer").text(manufacturer);
            tr.find('.edit-mode, .display-mode').toggle();
            var UserModel =
            {
                "Barcode": barcode,
                "DeviceName": deviceName,
                "Manufacturer": manufacturer
            };

            $.ajax({
                url: '/api/Asset',
                data: JSON.stringify(UserModel),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    isAdding = false;
                    //$('.webgrid')
                }
            });

        });
    })
</script>
}
@*<input type="button" value="Add" id="addAsset" />*@
@*@Html.ActionLink("Create New", "AddAsset");*@

<div id="gridContent">
    @*@{
        @grid.GetHtml(
       htmlAttributes: new { id = "webgridexample" },
         tableStyle: "webgrid",
         headerStyle: "webgrid-header",
         footerStyle: "webgrid-footer",
         alternatingRowStyle: "webgrid-alternating-row",
         selectedRowStyle: "webgrid-selected-row",
         rowStyle: "webgrid-row-style",
         mode: WebGridPagerModes.All,
         columns:
             grid.Columns(
              grid.Column("Barcode", format: @<text>  <span class="display-mode"> <label id="Barcode" >@item.Barcode</label> </span> <input type="text" id="Barcode" value="@item.Barcode" class="edit-mode" /></text>, style: "col2Width"),
                  grid.Column("DeviceName", "Device Name", format: @<text>  <span class="display-mode"> <label id="lblDeviceName">@item.DeviceName</label> </span> <input type="text" id="DeviceName" value="@item.DeviceName" class="edit-mode" /></text>, style: "col2Width"),
                  grid.Column("Manufacturer", "Manufacturer", format: @<text> <span class="display-mode"> <label id="lblManufacturer">@item.Manufacturer</label> </span>  <input type="text" id="Manufacturer" value="@item.Manufacturer" class="edit-mode" /> </text>, style: "col2Width"),
                  grid.Column("Action", format: @<text>
                    <button class="edit-user display-mode">Edit</button>
                    <button class="save-user edit-mode">Save</button>
                    <button class="cancel-user edit-mode">Cancel</button>
            </text>, style: "col3Width", canSort: false)
                ));
           }*@
    @*grid.Column("Barcode", format: @<text>  <span class="display-mode">@item.Barcode </span> <label id="Barcode" class="edit-mode">@item.Barcode</label> </text>, style: "col2Width"),*@
</div>