@model CarApp.Models.AssetViewModel
@{
    ViewBag.Title = "Issue an Asset";
    
}

<div class="col-sm-8 form-group-lg container">
    @using (Html.BeginForm("IssueAsset", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <div class="form-group col-sm-offset-2">
            @*<div>
                @Html.Label("Scan or enter a barcode")
            </div>*@
            
                @Html.TextAreaFor(model => model.Barcode, new { placeholder = "Scan or enter a barcode", @cols=40 })
                @Html.ValidationMessageFor(model => model.Barcode)

        </div>

        <div class="form-group col-sm-offset-2">
            <div >
                <div>
                    @Html.ValidationMessageFor(model => model.SelectionValue)
                </div>
                @Html.RadioButtonFor(model => model.SelectionValue, "1")    @Html.Label("New user")<br />
                @Html.RadioButtonFor(model => model.SelectionValue, "2")    @Html.Label("Local user receiving a new one")<br />
                @Html.RadioButtonFor(model => model.SelectionValue, "3")    @Html.Label("Offsite user")
            </div>
            
        </div>

        <div class="form-group col-sm-offset-3 col-sm-4">
            <input class="" type="submit" value="Submit" style="float:right"/>
        </div>
    }
</div>
