@model CarApp.Models.AssetViewModel
@{
    ViewBag.Title = "Receive an Asset";

}

<div class="col-sm-8 form-group-lg container">
    @using (Html.BeginForm("ReceiveAsset", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <div class="form-group col-sm-offset-2">
            @*<div>
                    @Html.Label("Scan or enter a barcode")
                </div>*@

            @Html.TextAreaFor(model => model.Barcode, new { placeholder = "Scan or enter a barcode", @cols = 40 })
            @Html.ValidationMessageFor(model => model.Barcode)

        </div>

        <div class="form-group col-sm-offset-2">
            <div>
                <div>
                    @Html.ValidationMessageFor(model => model.SelectionValue)
                </div>
                @Html.RadioButtonFor(model => model.SelectionValue, "1")    @Html.Label("No new asset")<br />
                @Html.RadioButtonFor(model => model.SelectionValue, "2")    @Html.Label("Exchanging old system for new system")<br />
                @Html.RadioButtonFor(model => model.SelectionValue, "3")    @Html.Label("Offsite user returning old system")
            </div>

        </div>

        <div class="form-group col-sm-offset-3 col-sm-4">
            <input type="submit" value="Submit" style="float:right" />
        </div>
    }
</div>
